<!-- <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="panel-title pull-left">Utilisateur</h3>
            <br>
            <div class="media">
                <div align="center">
                    <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                </div>
                <div class="media-body">
                    <hr>
                    <button-global btn-class="btn btn-default" btn-name="Espace membre"></button-global>
                    <button-global btn-class="btn btn-default" btn-name="Se deconnecter"></button-global>
                </div>
            </div>
        </div>
    </div>
        <div class="list-group">
            <a class="list-group-item active" href="#/home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>  Accueil</a>
            <a class="list-group-item" href="#/diaporamas"><i class="fa fa-slideshare fa-fw" aria-hidden="true"></i>   Diaporamas</a>
            <a class="list-group-item" href="#/templates"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>  Thèmes</a>
            <a class="list-group-item" href="#/faqs"><i class="fa fa-question fa-fw" aria-hidden="true"></i>  Faqs</a>
        </div>
    </div>
</div> -->

<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <div class="panel panel-default">
        <div class="list-group">
            <a class="list-group-item active" href="#/home"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Accueil</a>
            <a class="list-group-item" href="#/users"><i class="fa fa-user fa-2x" aria-hidden="true"></i> Utilisateurs</a>
            <a class="list-group-item" href="#/customers"><i class="fa fa-address-book fa-2x" aria-hidden="true"></i> Clients </a>
            <a class="list-group-item" href="#/suppliers"><i class="fa fa-truck fa-2x" aria-hidden="true"></i> Fournisseurs</a>
           <!-- <a class="list-group-item" href="#/stocks"><i class="fa fa-cubes fa-2x" aria-hidden="true"></i> Gestion des stocks</a> -->
            <a class="list-group-item" href="#/projects"><i class="fa fa-folder-open fa-2x" aria-hidden="true"></i> Gestion projet</a>
            <a class="list-group-item" href="#/modules"><i class="fa fa-cog fa-2x" aria-hidden="true"></i> Modules</a>
            <a class="list-group-item" href="#/ranges"><i class="fa fa-th-list fa-2x" aria-hidden="true"></i> Gammes</a>
            <a class="list-group-item" href="#/components"><i class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i> Composants</a>
        </div>
    </div>
</div>

<!-- <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
    <div class="panel panel-default">
        <div class="list-group">
            <a class="list-group-item active" href="#/home"><i class="fa fa-home fa-4x" aria-hidden="true"></i></a>
            <a class="list-group-item" href="#/diaporamas"><i class="fa fa-user-plus fa-4x" aria-hidden="true"></i></a>
            <a class="list-group-item" href="#/templates"><i class="fa fa-users fa-4x" aria-hidden="true"></i></a>
            <a class="list-group-item" href="#/faqs"><i class="fa fa-cubes fa-4x" aria-hidden="true"></i></a>

            <a class="list-group-item active" href="#/home"><i class="fa fa-folder-open fa-4x" aria-hidden="true"></i></a>
            <a class="list-group-item" href="#/diaporamas"><i class="fa fa-cog fa-4x" aria-hidden="true"></i></a>
            <a class="list-group-item" href="#/templates"><i class="fa fa-th-list fa-4x" aria-hidden="true"></i></a>
            <a class="list-group-item" href="#/faqs"><i class="fa fa-puzzle-piece fa-4x" aria-hidden="true"></i></a>
        </div>
    </div>
</div> -->